<div id="about">
  <div class="about-content">
    <h1>This template is built with <i class="fa fa-heart"></i> by</h1>
    <ul class="list-inline">
      <li>
        <img src="https://media.licdn.com/dms/image/C5603AQFvBzWnmveE6g/profile-displayphoto-shrink_200_200/0?e=1547078400&v=beta&t=oiz8VEr8z-s4oIxhpSVbGrno_6taBHN_E53Ci7jioUQ" class="img-circle" alt="Ssaunier" />
        <h2>Pierre Renaudin</h2>
        <p><a href="http://github.com/ssaunier"><i class="fab fa-github"></i></i> PRenaudin</a></p>
      </li>
      <li>
        <img src="https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_200,w_200/nbyjyfamrktsr9cszyac.jpg" class="img-circle" alt="Papillard" />
        <h2>Andde</h2>
        <p><a href="http://github.com/papillard"><i class="fab fa-github"></i></i> Andde</a></p>
      </li>
    </ul>
  </div>
</div>
